<div class="flex">
  <h1>Tickets</h1>
  <%= link_to '+ New Ticket', new_ticket_path, class: disable_if_logged_out %>
</div>

<%= render 'filter_form' %>

<% if @tickets.blank? %>
  <section class="center">
    <p><em>There are no tickets matching the selected filters.</em></p>
    <%= link_to 'Clear filters and show all tickets', tickets_path %>
  </section>
<% else %>
  <section class="well no-padding">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Assignee</th>
          <th>Status</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <%= render @tickets %>
      </tbody>
    </table>
  </section>
<% end %>