<tr>
  <td>
    <dl>
      <dt><%= link_to project.name, project_path(project) %></dt>
      <dd><%= project.description %></dd>
    </dl>
  </td>
  <td><%= project.tickets.size %></td>
  <td><%= project.tickets.size %></td>  
</tr>