<div class="flex">
  <h1>All Tags</h1>
  <%= link_to '+ New Tag', new_tag_path, class: disable_if_logged_out %>
</div>

<section class="well no-padding">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Tickets</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tags %>
    </tbody>
  </table>
</section>