form label {
  font-size: 20px;
}

form dt {
  margin: 10px 0;
}

form dd {
  margin-bottom: 20px;
}

input,
textarea,
select,
button {
  padding: 8px;  
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #CCC;
}

textarea {
  resize: vertical;
}

[type=submit],
h1 + a,
.btn {
  padding: 10px;
  font-weight: bold;
  color: #FFF;  
  background-color: #12449C;
  border: none;
}

[type=submit]:hover,
h1 + a:hover,
.btn:hover {
  color: #FFF;
  cursor: pointer;
  background-color: #1C53B5;
}

.alert {
  color: #3F0023;
  border: none; 
  background-color: #FFC5C2;
}

.alert > h5 {
  margin-bottom: 5px;
}

.alert li {
  margin-left: 18px;
  list-style: disc;
  line-height: 20px;
}

.filter {
  margin-right: -5px;
  margin-left: -5px;
}

.filter dl {
  padding: 0 5px;
  display: inline-block;
  width: 33%;
}

select {
  background-color: #FFF;
}

.center,
.center > p {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.width-1-3 {
  width: 33%;
}

form li {
  line-height: 30px;
}

[type=checkbox] {
  width: auto;
}

fieldset ul {
  padding: 10px 0 20px 0;
}

fieldset h3 {
  font-size: 20px;
  font-weight: bold;
}