*,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
}

header {
  padding: 30px;
  background: #EEE;
}

a {
  font-size: 18px;  
  display: inline-block;
  color: #2657AC;
  text-decoration: none;
}

a:hover {
  color: #2F7AFF;
}

a > img {
  opacity: 0.3;
  height: 20px;
  width: 20px;
}

a > img:hover {
  opacity: 0.8;
}

nav a {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

h1 {
  flex: 1;
  font-weight: bold;
  font-size: 32px;
}

span {
  display: inline-block;
  width: 10px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

main {
  padding: 25px;
}

main p {
  font-weight: 300;
  margin: 10px 0;
}

main section {
  margin: 20px 0;
}

.well {
  padding: 25px;
  background-color: #FAFAFA;
  border: 1px solid #CCC;
  border-radius: 5px;  
}

.success {
  padding: 10px 30px;
  color: #2F5833;
  background-color: #CBFFD0;
}

em {
  font-style: italic;
  font-size: 18px;
}

p {
  font-size: 20px;
}

small {
  font-size: 14px;
}

main > header {
  background: none;
  padding: 0;
  align-items: center;
}

hr {
  display: block;
  margin: 20px 0;
  border: 0.5px solid #DDD;
}

strong {
  font-weight: bold;
}

.no-background {
  background: none;
}

header,
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-right {
  text-align: right;
}