table {
  font-size: 20px;
  width: 100%;
}

tbody tr:hover {
  background-color: #F5F5F5;
}

thead tr {
  background-color: #EEE;
}

th {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 5px;
}

th:first-child, 
td:first-child {
  padding-left: 20px;
}

th:last-child,
td:last-child {
  padding-right: 10px;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}

td {
  padding: 15px 5px;
  border-top: 1px solid #DDD;
  vertical-align: middle;
}

td:last-child {
  width: 70px;
}

td dd {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
}

td.tags {
  font-weight: 300;
}

td a {
  font-size: 20px;
  font-weight: bold;
}

.info {
  font-size: 20px;
  margin-bottom: 0;
}

.info dt {
  font-weight: bold;
}

.info dd {
  margin: 10px 0;
}

.no-wrap {
  white-space: nowrap;
}

td img {
  padding: 3px;
}

a > img {
  opacity: 0.5;
  height: 25px;
  width: 25px;
}

a > img:hover {
  opacity: 1;
}