table {
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
}

tbody tr:hover {
  background-color: #EEE;
}

th {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

th:first-child, 
td:first-child {
  padding-left: 15px;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}

td {
  padding: 10px 0;
  border-top: 1px solid #DDD;
  vertical-align: middle;
}

td dd {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
}