<nav>
  <h2>Ticket Tracker</h2>  
  <%= link_to 'Projects', projects_path %>
  <%= link_to 'Tickets', tickets_path %>
  <%= link_to 'Tags' %>
</nav>

<section>
  <p>Signed in as [username]</p>
  <%= link_to 'login/logout' %>
</section>